.site-footer {
  &--upper {
    background: $color-bg-dark;
  }
  &--lower {
    background: $color-black;
    padding: 5rem 0;
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .social-links {
      display: flex;
      list-style: none;
      i {
        color: $color-white;
        font-size: 1.5rem;
        padding-right: 2rem;
        transition: all 0.2s;
        &:hover {
          color: $color-primary;
        }
      }
    }
    .contacts {
      text-align: right;
    }
  }
}
.silverless {
  text-align: center;
  margin-top: 1rem;

  #logo {
    width: 10rem;
    height: 3rem;
    path {
      fill: white;
    }
  }

  #silverless {
    opacity: 0.6;
    transition: opacity 0.5s ease-in-out;
  }

  #created {
    opacity: 0;
    transform: translateY(50px);
    transition: 1s transform ease, 2s opacity ease;
  }

  &:hover {
    cursor: pointer;

    #silverless {
      opacity: 0.8;
    }

    #created {
      opacity: 0.8;
      transform: translateY(0);
    }
  }
}
