.site-footer {
  &--upper {
    background: $color-bg-dark;
    position: relative;
    video {
      position: absolute;
      bottom: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .contact-wrapper {
      z-index: 2;
    }
    .carbon-form {
      @media only screen and (min-width: $bp-large) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3rem;
      }

      .footer-form-title {
        font-size: 3rem;
        span {
          font-size: 2.5rem;
          display: block;
          font-family: $font-primary;
          font-weight: 100;
        }
      }
    }
  }
  &--lower {
    background: $color-black;
    padding: 5rem 0;
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .social-links {
      display: flex;
      list-style: none;
      i {
        color: $color-white;
        font-size: 1.5rem;
        padding-right: 2rem;
        transition: all 0.2s;
        &:hover {
          color: $color-primary;
        }
      }
    }
    .contacts {
      text-align: right;
    }
  }
}
.silverless {
  text-align: center;
  margin-top: 1rem;

  #logo {
    width: 10rem;
    height: 3rem;
    path {
      fill: white;
    }
  }

  #silverless {
    opacity: 0.6;
    transition: opacity 0.5s ease-in-out;
  }

  #created {
    opacity: 0;
    transform: translateY(50px);
    transition: 1s transform ease, 2s opacity ease;
  }

  &:hover {
    cursor: pointer;

    #silverless {
      opacity: 0.8;
    }

    #created {
      opacity: 0.8;
      transform: translateY(0);
    }
  }
}
.fade-wrapper {
  z-index: 2;
}
#fade-container {
  height: 12rem;
  text-align: center;
  margin: 6rem 0;
  .fade-item {
    opacity: 0;
    position: absolute;
    transition: opacity 1s ease-in-out;
    left: 50%;
    translate: -50%;
    width: 100%;
  }

  .fade-item.active {
    opacity: 1;
  }
}
