.section-news-feed {
  padding-top: 25vh;
  .news-feed-wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 2rem;
    .news {
      img {
        width: 100%;
        height: 25rem;
        object-fit: cover;
      }
    }
    .news-content {
      padding: 8rem 0 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 4rem;
      .mixitup-page-list {
        grid-column: span 2;
        text-align: right;
        button {
          padding: 1rem;
          border: transparent;
          background-color: #707070;
        }
        .mixitup-control-active {
          background: $color-primary;
        }
      }
    }
    .news-filters {
      flex-basis: 25rem;
      ul {
        list-style: none;
        text-transform: uppercase;
        padding: 7rem 0 0;
        font-size: 1.6rem;
        li {
          padding: 1rem 0;
          &.filter-head {
            font-weight: 700;
          }
          &.mixitup-control-active {
            color: $color-primary;
          }
        }
      }
    }
  }
}
.aligncenter,
div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alignleft {
  float: left;
  margin-right: 2rem;
  margin-top: 1rem;
}
.alignright {
  float: right;
  margin-left: 2rem;
  margin-top: 1rem;
}
.mixitup-page-list {
  grid-column: span 2;
  text-align: right;
  button {
    padding: 1rem;
    border: transparent;
    background-color: #707070;
  }
  .mixitup-control-active {
    background: $color-primary;
  }
}
