.section-news-feed {
  .news-feed-wrapper {
    display: flex;
    grid-gap: 2rem;
    flex-wrap: wrap;
    .news {
      flex: 1 1 calc(50% - 2rem);
      max-width: calc(50% - 2rem);
      img {
        width: 100%;
        height: 25rem;
        object-fit: cover;
      }
    }
  }
}
.aligncenter,
div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.alignleft {
  float: left;
  margin-right: 2rem;
  margin-top: 1rem;
}
.alignright {
  float: right;
  margin-left: 2rem;
  margin-top: 1rem;
}
