.wpforms-field-container {
}
// div.wpforms-container-full .wpforms-form textarea.wpforms-field-large {
//   height: 100% !important;
//   border-color: transparent !important;
// }
// div.wpforms-container-full input {
//   border-color: transparent !important;
// }
// div.wpforms-container-full button[type="submit"]:not(:hover):not(:active) {
//   background: $color-primary !important;
// }
// div.wpforms-container-full button[type="submit"]:hover {
//   background: $color-grey-dark-2 !important;
// }
// div.wpforms-container-full button[type="submit"]:focus:after {
//   border: 2px solid $color-primary !important;
// }
// div.wpforms-container-full .wpforms-form .wpforms-submit-container {
//   text-align: right;
// }
// .wpforms-submit-container button {
//   border-radius: 0 !important;
//   &::after {
//     font: var(--fa-font-light);
//     content: "\f054";
//   }
// }
.carbon-form-embed {
  div.wpforms-container-full {
    margin: 0;
  }
  .wpforms-container .wpforms-field {
    padding: 0 0 1rem;
    input,
    text,
    textarea {
      border-radius: 0;
      border-color: transparent;
      opacity: 0.9;
      font-size: 1.4rem;
      font-family: $font-primary;
      font-weight: 100;
      color: $color-black;
    }
  }
}
input::-webkit-input-placeholder {
  font-size: 1.4rem;
  font-family: $font-primary;
  font-weight: 100;
  color: $color-black;
  opacity: 1;
}

div.wpforms-container-full .wpforms-form .wpforms-submit-container {
  text-align: right;

  button {
    background-color: transparent !important;
    border-radius: 0;
    text-transform: uppercase;
    border: 1px solid $color-white;
    font-size: 1.4rem;
    font-family: $font-primary;
    font-weight: 100;
  }
}

.wpforms-container ::-webkit-input-placeholder {
  /* Chrome and Safari */
  color: $color-black !important;
}

.wpforms-container :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $color-black !important;
  opacity: 1 !important;
}

.wpforms-container ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $color-black !important;
  opacity: 1 !important;
}

.wpforms-container :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $color-black !important;
}

.wpforms-container ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $color-black !important;
}

.wpforms-container ::placeholder {
  color: $color-black !important;
}
