section.hero {
  overflow: clip;
  position: relative;
  padding-top: 0;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2;
  background-color: $color-bg-dark;
  .hero--panel-one {
    height: 100vh;
    grid-column: center-start / center-end;
    display: flex;
    align-items: center;
    @media only screen and (min-width: $bp-large) {
      grid-column: col-start 5 / col-end 8;
    }
    .hero-top-header {
      text-align: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 10vh 0;
      // padding: 0 5rem;
      .header--logo {
        padding: 0rem 5rem;
        display: flex;
        justify-content: center;
        width: 100%;
        svg {
          width: 22rem;
        }
      }
      .header--text {
        padding-top: 10vh;
      }
    }
    .scroll-text {
      font-family: $font-header;
      font-size: 2rem;
      text-transform: uppercase;
    }
    &--image {
      position: absolute;
      z-index: -1;
      top: 10vh;
      left: 50%;
      transform: translate(-50%);
      img {
        width: auto;
        height: 80vh;
        opacity: 0.5;
        object-fit: contain;
        background: $color-bg-dark;
      }
    }
  }
  .hero--panel-two {
    grid-column: center-start / center-end;

    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50vh;
    @media only screen and (min-width: $bp-large) {
      grid-gap: 10rem;
      grid-column: col-start 2 / center-end;
      flex-wrap: nowrap;
    }
    .map-elements {
      padding-top: 10rem;
      &--block {
        margin-bottom: 10rem;
      }
      &.alternate {
        padding-top: 0;
        position: sticky;
        top: 20vh;
      }
    }
    .sticky-map {
      @media only screen and (min-width: $bp-large) {
        position: sticky;
        top: 30vh;
      }
      #block-1,
      #block-2,
      #block-3,
      #block-4 {
        opacity: 0.4;
      }
      svg {
        width: 100%;
        @media only screen and (min-width: $bp-large) {
          width: unset;
        }
      }
    }
    &.sticky-cols {
      .panel-two {
        &--text,
        &--map {
          align-self: flex-start;
          position: sticky;
          top: 20vh;
        }
      }
    }
  }
}

.block {
  color: white;
  padding: 3rem 2rem 3rem 0;
  font-family: "lato", san-serif;
  font-size: 18px;
}

.hero-text {
  grid-column: col-start 2 / col-end 11;
  z-index: 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.left-col {
  height: 400vh;
}

.right-col {
  .change-me {
    position: sticky;
    top: 30vh;
    display: grid;
    place-content: center;
  }
}

.base-video {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  height: 100vh;
  // filter: grayscale(1);
  // opacity: 0.4;
  .video-blur {
    height: 15rem;
    width: 100%;
    margin-bottom: -15rem;
    z-index: 10;
    background: rgb(47, 46, 44);
    background: linear-gradient(
      180deg,
      rgba(47, 46, 44, 1) 11%,
      rgba(239, 236, 233, 0) 81%
    );
  }
}
video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.cloud-one,
.cloud-two,
.cloud-three,
.cloud-four,
.cloud-five {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 25vh;
  img {
    width: 100%;
  }
}
.cloud-one {
  top: 40vh;
  width: 100%;
  height: 100%;
  z-index: 3;
  // overflow: hidden;
  // outline: 1px solid red;
}
.cloud-two {
  top: 40vh;
  // outline: 1px solid blue;
}

// .cloud-three {
//   top: 30vh;
//   outline: 1px solid yellow;
// }
// .cloud-four {
//   outline: 1px solid green;
//   top: 40vh;

//   // z-index: 3;
// }
.cloud-five {
  // outline: 1px solid orange;
  top: 70vh;

  // z-index: 3;
}
.single-post,
.archive {
  .post-thumbnail {
    img {
      width: 100%;
      height: 50vh;
      object-fit: cover;
    }
  }
  .entry-content {
    padding: 8rem 0;
  }
  .entry-title {
    padding: 5rem 0 0;
  }
}
.archive {
}
.map-clouds {
  position: relative;
  .post-video {
    position: absolute;
    bottom: 0;
    display: grid;
    z-index: -1;
    width: 100%;
    img {
      object-fit: cover;
      width: 100%;
      height: 150vh;
      object-position: center bottom;
    }
  }
}
// .panel-two {
//   &--text,
//   &--map {
//     display: flex;
//   }
// }
.panel-two--filler {
  display: grid;
  margin-top: 25vh;
  .marker {
    width: 1rem;
    height: 40vh;
    display: block;
  }
}
.center-wrapper {
  display: flex;
  justify-content: center;
  grid-column: center-start / center-end;
  .center {
    display: grid;
    place-content: center;
    width: 5rem;
    height: 5rem;
    i {
      color: $color-primary;
      font-size: 3rem;
    }
    &.bounce {
      -moz-animation: bounce 2s infinite;
      -webkit-animation: bounce 2s infinite;
      animation: bounce 2s infinite;
    }

    @keyframes bounce {
      0%,
      20%,
      50%,
      80%,
      100% {
        transform: translateY(0);
      }
      40% {
        transform: translateY(-30px);
      }
      60% {
        transform: translateY(-15px);
      }
    }
  }
}
.header--scroll {
  position: absolute;
  top: 90vh;
  width: 100%;
  z-index: 4;
}
