section.hero {
  overflow: clip;
  position: relative;
  padding-top: 0;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  .hero--panel-one {
    height: 100vh;
    grid-column: col-start 2 / col-end 7;
    display: flex;
    align-items: center;
    .scroll-text {
      font-family: $font-header;
      font-size: 2rem;
      text-transform: uppercase;
    }
  }
  .hero--panel-two {
    grid-column: col-start 2 / center-end;
    display: flex;
    grid-gap: 10rem;
    padding-bottom: 50vh;
    .map-elements {
      padding-top: 10rem;
      &--block {
        margin-bottom: 10rem;
      }
    }
    .sticky-map {
      position: sticky;
      top: 30vh;
      #block-1,
      #block-2,
      #block-3,
      #block-4 {
        opacity: 0.4;
      }
    }
  }
}

.block {
  color: white;
  padding: 3rem 2rem 3rem 0;
  font-family: "lato", san-serif;
  font-size: 18px;
}

.hero-text {
  grid-column: col-start 2 / col-end 11;
  z-index: 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.left-col {
  height: 400vh;
}

.right-col {
  .change-me {
    position: sticky;
    top: 30vh;
    display: grid;
    place-content: center;
  }
}

.base-video {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1;
  height: 100vh;
  // filter: grayscale(1);
  // opacity: 0.4;
  .video-blur {
    height: 15rem;
    width: 100%;
    margin-bottom: -15rem;
    z-index: 10;
    background: rgb(47, 46, 44);
    background: linear-gradient(
      180deg,
      rgba(47, 46, 44, 1) 11%,
      rgba(239, 236, 233, 0) 81%
    );
  }
}
video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.cloud-one,
.cloud-two,
.cloud-three,
.cloud-four,
.cloud-five {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 25vh;
  img {
    width: 100%;
  }
}
.cloud-one {
  top: 40vh;
  width: 100%;
  height: 100%;
  overflow: hidden;
  // outline: 1px solid red;
}
.cloud-two {
  top: 40vh;
  // outline: 1px solid blue;
}

// .cloud-three {
//   top: 30vh;
//   outline: 1px solid yellow;
// }
// .cloud-four {
//   outline: 1px solid green;
//   top: 40vh;

//   // z-index: 3;
// }
.cloud-five {
  // outline: 1px solid orange;
  top: 70vh;

  // z-index: 3;
}
.single-post,
.archive {
  .post-thumbnail {
    img {
      width: 100%;
      height: 50vh;
      object-fit: cover;
    }
  }
  .entry-content {
    padding: 8rem 0;
  }
  .entry-title {
    padding: 5rem 0 0;
  }
}
.archive {
}
.map-clouds {
  position: relative;
  .post-video {
    position: absolute;
    bottom: 0;
    display: grid;
    z-index: -1;
    width: 100%;
    img {
      object-fit: cover;
      width: 100%;
      height: 140vh;
      object-position: center bottom;
    }
  }
}
