section.hero {
  overflow: clip;
  position: relative;
  padding-top: 0;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  .hero--panel-one {
    height: 100vh;
    grid-column: col-start 2 / col-end 7;
    display: flex;
    align-items: center;
    .scroll-text {
      font-family: $font-header;
      font-size: 2rem;
      text-transform: uppercase;
    }
  }
  .hero--panel-two {
    grid-column: col-start 2 / center-end;
    display: flex;
    grid-gap: 10rem;
    .map-elements {
      padding-top: 10rem;
      padding-bottom: 50vh;
      &--block {
        margin-bottom: 10rem;
      }
    }
    .sticky-map {
      position: sticky;
      top: 30vh;
      #block-1,
      #block-2,
      #block-3,
      #block-4 {
        opacity: 0.4;
      }
    }
  }
}

.block {
  color: white;
  padding: 3rem 2rem 3rem 0;
  font-family: "lato", san-serif;
  font-size: 18px;
}

.hero-text {
  grid-column: col-start 2 / col-end 11;
  z-index: 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.left-col {
  height: 400vh;
}

.right-col {
  .change-me {
    position: sticky;
    top: 30vh;
    display: grid;
    place-content: center;
  }
}

.base-video {
  display: flex;
  width: 100%;
  z-index: 1;
  filter: grayscale(1);
  opacity: 0.4;
}
video {
  width: 100%;
}

.cloud-one,
.cloud-two {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100px;
  // background-color: lightgrey;
  animation: cloudAnimation 10s infinite linear;
  img {
    width: 100%;
  }
}

.cloud-two {
  top: 0vh;
  animation-delay: 5s;
  opacity: 0.3;
  // background-color:grey;
}
.cloud-one {
  top: 5vh;
  opacity: 0.5;
}
