section.section-map {
  padding-top: 0 !important;
  overflow-x: hidden;
  transform: translateY(-150vh);
}
.map-wrapper {
  position: relative;
}
#map {
  height: 100vh;
  // &::after {
  //   content: "";
  //   background: rgb(239, 236, 233);
  //   background: linear-gradient(
  //     0deg,
  //     rgba(239, 236, 233, 1) 10%,
  //     rgba(239, 236, 233, 0.5) 50%,
  //     rgba(239, 236, 233, 0) 100%
  //   );
  //   width: 100%;
  //   height: 25vh;
  //   position: absolute;
  //   bottom: 0;
  // }
  .marker {
    color: #ff9452;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #2e2d2b;
    display: grid;
    place-content: center;
    transition: width 0.5s, height 0.5s;
    &.active {
      background: #ff9452;
      color: #ffffff;
      width: 4rem;
      height: 4rem;
      font-size: 1.8rem;
    }
  }
}
.point-controls {
  position: absolute;
  bottom: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translate(-50%);
  &--wrapper {
    flex: 1;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 120rem;
  }
  .next,
  .prev {
    i {
      font-size: 3rem;
      cursor: pointer;
      border: 1px solid $color-black;
      padding: 0.5rem 1rem;
    }
  }
  .next {
    right: 3rem;
  }
  .prev {
    left: 3rem;
  }
  .heading-1 {
    text-transform: initial;
  }
}
#map-settings {
  position: absolute;
  top: 0;
  background-color: white;
  padding: 1rem;
  margin: 8rem;
}
#info-panel {
  position: absolute;
  top: 0;
  right: 0;
  background-color: $color-grey-dark-1;
  color: $color-white;
  margin: 5rem;
  width: 30rem;
  img {
    width: 30rem;
  }
  h3 {
    text-align: center;
    padding: 1rem 1rem 0;
    text-transform: uppercase;
    font-family: $font-header;
    font-weight: 400;
  }
  p {
    text-align: center;
    padding: 1rem 2rem;
  }
  .map-link {
    color: $color-primary;
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-header;
    padding: 0 2rem 2rem;
  }
}

.custom-marker {
  background-color: #ff9452;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.custom-marker.active {
  background-color: #007bff;
}

.custom-marker-label {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #ffffff;
}

.info-panel {
  top: 10px;
  right: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.info-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.info-description {
  font-size: 14px;
}

.map-wrapper {
  position: relative;
}

#button-container {
  position: absolute;
  display: flex;
  height: 100%;
  top: 0;
  left: 10vw;
  z-index: 1;
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    a {
      text-transform: uppercase;
      font-family: $font-header;
      font-size: 1.7rem;
      color: #ebe9e7;
      opacity: 0.5;
      transition: all 0.5s ease-in-out;
      &.active {
        font-size: 4.5rem;
        color: $color-white;
        opacity: 1;
        &::before {
          content: "\f061";
          font: var(--fa-font-sharp-solid);
          font-size: 4rem;
        }
      }
      &::before {
        content: "\2014";
        padding-right: 1rem;
        color: var(--marker-color);
      }
    }
  }
}

#map-settings {
  color: black;
}
.area-link-wrapper {
  position: absolute;
  bottom: 30vh;
  left: 50%;
  translate: -50%;
  .area-link {
    opacity: 0;
    transition: all 1s ease-in-out;
    z-index: -1;
    &.active {
      opacity: 1;
      z-index: 3;
    }
  }
  ul {
    list-style: none;
    position: relative;
    li {
      background: rgba(0, 0, 0, 0.6);
      border: 1px solid $color-white;
      padding: 2rem 3rem;
      width: 20rem;
      position: absolute;
      span {
        font-weight: 400;
      }
      i {
        display: block;
        color: var(--marker-color);
        padding-top: 1rem;
      }
    }
  }
}
.offcanvas {
  position: absolute;
  z-index: 9;
  top: 0;
  right: -100%;
  width: 90%;
  height: 100%;
  background-color: #262626;
  transition: right 0.7s ease-in-out;
  &.active {
    right: 0;
  }
}
.map-details {
  button {
    color: $color-white;
    background: transparent;
    border: none;
    position: absolute;
    left: -5rem;
    top: 2rem;
    font-size: 3rem;
    font-weight: 100;
  }
  &--wrapper {
    position: relative;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 5rem;
    margin: 5rem 0;
    font-size: 1.6rem;
    @media only screen and (min-width: $bp-large) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    i {
      // position: absolute;
      // color: $color-primary;
      // font-size: 2.5rem;
      // left: 0;
      // top: 7.5rem;
    }
    p {
      font-size: 1.6rem;
      font-weight: 100;
    }
    &::-webkit-scrollbar {
      width: 15px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 100px;
      border: 3px solid transparent;
      background-clip: content-box;
      background-color: #9bd866;
    }
    &::-webkit-scrollbar-track {
      background-color: #e4e4e4;
      border-radius: 100px;
    }
  }
  &--description {
    padding: 0 2rem 0 0;
    margin-bottom: 10rem;
    img {
      width: 100%;
      padding: 4rem 0;
    }
    .show-hide-span {
      cursor: pointer;
    }
    .hidden-text {
      display: none;
    }
    .heading-2 {
      position: relative;
      i {
        position: absolute;
        left: -5rem;
        top: 2rem;
        font-size: 3rem;
        color: var(--marker-color);
      }
    }
    #toggle {
      text-transform: uppercase;
      color: var(--marker-color);
      font-weight: 400;
      cursor: pointer;
    }
    .sticky-wrapper {
      position: sticky;
      top: 0rem;
    }
  }
  &--list {
    padding: 3rem 2rem;
    .toggle-block {
      column-count: unset;
      label i {
        color: var(--marker-color);
      }
    }
    .heading-4 {
      font-size: 1.4rem;
      font-weight: 100;
    }
    p {
      font-size: 1.6rem;
      font-weight: 100;
    }
  }
}
