.section-numbers {
  padding-top: 25vh;
}
.numbers-block {
  border-bottom: 1px solid $color-white;
  &--items {
    display: flex;
    flex-wrap: wrap;
    padding: 10rem 0;
    @media only screen and (min-width: $bp-large) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
    }
  }
  &--item {
    flex: 1 25rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    text-transform: uppercase;
    @media only screen and (min-width: $bp-large) {
      border: 1px solid $color-grey-dark-1;
      padding: 4rem 2rem;
      &:nth-child(-n + 4) {
        border-top: none;
      }
      &:nth-last-child(-n + 4) {
        border-bottom: none;
      }
      &:first-child {
        border-left: none;
      }
      &:nth-child(4) {
        border-right: none;
      }
      &:nth-child(5) {
        border-left: none;
      }
      &:nth-child(8) {
        border-right: none;
      }
    }
    span {
      font-size: 4.5rem;
      font-family: $font-header;
      display: block;
    }
  }
}
