.section-numbers {
  padding-top: 25vh;
}
.numbers-block {
  border-bottom: 1px solid $color-white;
  &--items {
    display: flex;
    flex-wrap: wrap;
    padding: 10rem 0;
    @media only screen and (min-width: $bp-large) {
      display: flex;
      flex-wrap: wrap;
      grid-gap: 3rem;
      row-gap: 8rem;
    }
  }
  &--item {
    flex: 1 25rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    text-transform: uppercase;
    span {
      font-size: 4.5rem;
      font-family: $font-header;
      display: block;
    }
  }
}
