.section-text-block {
  .text {
    .button {
      max-width: 30rem;
    }
    .text-block {
      @media only screen and (min-width: $bp-large) {
        padding: 0 5rem;
      }
      &.align-left {
        text-align: left;
      }
      &.align-cent {
        text-align: center;
      }
      &.align-right {
        text-align: right;
      }
      a {
        color: $color-primary;
        text-transform: uppercase;
        padding-top: 3rem;
        display: block;
        font-family: $font-header;
        &:hover {
          color: $color-primary-light;
        }
      }
      .read-more-link {
        padding-top: 0;
      }
      h2 {
        padding-bottom: 3rem;
      }
    }
    &__one {
      padding: 5rem 0;
    }
    &__two {
      columns: 2;
      column-gap: 2rem;
    }
    &__quote {
      display: flex;
      flex-wrap: wrap;
      > div {
        flex: 1 1 30rem;
      }
      .quote {
        padding: 0 4rem;
        font-size: 2.6rem;

        color: $color-primary;
      }
    }
    &__image {
      img {
        width: 40rem;
      }
      .left {
        float: left;
        padding: 0 4rem 1rem 0;
      }
      .right {
        float: right;
        padding: 0 4rem 1rem 4rem;
      }
    }
  }
}
.title-block {
  padding: 5rem 0 10rem;
  &--heading {
    &.align-center {
      text-align: center;
    }
    &.align-right {
      text-align: right;
    }
  }
}
.section-text-image-block {
  padding-bottom: 15rem;
  .image-block {
    grid-column: center-start / center-end;
    height: 100vh;
    position: sticky;
    top: 6rem;
    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    @media only screen and (min-width: $bp-medium) {
      grid-column: col-start 7 / full-end;
    }
  }

  .text-block {
    grid-column: center-start / center-end;
    padding: 0 0 5rem 0;
    h2 {
      padding-bottom: 3rem;
    }
    @media only screen and (min-width: $bp-medium) {
      grid-column: col-start 2 / col-end 6;
      padding: 40vh 20% 5rem 0;
    }
  }
}
.breadcrumb {
  text-transform: uppercase;
  padding: 5rem 0 10rem;

  .current {
    color: $color-primary;
  }
}
.section-timeline {
  padding-bottom: 25vh;
}
.timeline-block.overflow {
  grid-column: col-start 2 / full-end;
  .date {
    text-align: center;
    &--line {
      height: 2.5rem;
      border-bottom: 1px solid #707070;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .left {
        border-right: 1px solid #707070;
      }
    }
    &--description {
      padding: 0 6rem;
      color: #707070;
    }
    h3 {
      padding-bottom: 0;
      color: #707070;
    }
  }
  .timeline {
    .slick-current.slick-active {
      h3 {
        color: $color-white;
      }
      .date--description {
        color: $color-white;
      }
    }
  }
}
.section-files {
  padding: 25vh 0;
  .files-controls {
    padding: 5rem 0;
    .years {
      list-style: none;
      display: flex;
      grid-gap: 2rem;
      li {
        cursor: pointer;
        position: relative;
        span {
          position: absolute;
          top: 50%;
          left: 50%;
          translate: -50% -50%;
          font-family: $font-header;
          font-size: 1.6rem;
        }
      }
    }
    .mixitup-control-active {
      svg {
        path {
          fill: #ebe9e7;
        }
      }
      span {
        color: $color-black;
      }
    }
  }
  .files-wrapper {
    padding: 5rem 0;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 5rem;
    .files {
      flex: 1 1 40rem;
      padding: 0 0 3rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 1px solid $color-white;
      @media only screen and (min-width: $bp-large) {
        flex: 1 1 calc(50% - 5rem);
        max-width: calc(50% - 5rem);
      }
      .link {
        a {
          text-transform: uppercase;
          font-weight: 400;
          i {
            padding-left: 2rem;
          }
          &:hover {
            color: $color-primary;
          }
        }
      }
    }
    .mixitup-page-list {
      padding: 3rem 0;
    }
  }
}
