%heading {
  font-family: $font-header;
  font-weight: 700;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

.heading-1 {
  @extend %heading;
  font-size: 6rem;
  &--extra {
    font-size: 7.2rem;
    font-weight: 700;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
  &--hero {
    font-size: 8rem;
    font-weight: 700;
    span {
      font-size: 7.4rem;
      font-weight: initial;
    }
  }
}

.heading-2 {
  @extend %heading;
  font-size: 4.5rem;
  font-weight: 700;
  // line-height: 1;

  &--light {
    color: $color-grey-light-1;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
  &--map {
    font-size: 3rem;
  }
}

.heading-3,
h3 {
  @extend %heading;
  font-size: 4.1rem;
  &--light {
    color: $color-grey-light-1;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
}
h3 {
  padding-bottom: 1rem;
}

.heading-4 {
  @extend %heading;
  font-size: 1.6rem;

  &--light {
    color: $color-grey-light-1;
  }
  &--dark {
    color: $color-grey-dark-1;
  }
  &--news {
    font-family: $font-primary;
  }
}
p {
  font-size: 2rem;
  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

.section-text,
.tabbed-text {
  .text-block {
    &.two-col {
      column-count: 2;
      column-gap: 1.5rem;
    }
  }
}
.text-block {
  a {
    color: $color-primary;
  }
}

.align-cent {
  text-align: center;
}
.text-right {
  text-align: right;
}
.font-upper {
  text-transform: uppercase;
}
.font-default {
  font-family: $font-primary;
}
.font-display {
  letter-spacing: 1.7px;
}
.font-italic {
  font-style: italic;
}

.read-more p:not(:first-child) {
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s ease-in-out;
  margin-bottom: 0;
}

.read-more.expanded p {
  max-height: 1000px;
  margin-bottom: 2rem;
}
blockquote {
  padding-left: 2rem;
  font-style: italic;
}
