section.panel-project {
  overflow: clip;
  position: relative;
  padding-top: 0;
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  .project--panel-one {
    min-height: 100vh;
    grid-column: col-start 2 / col-end 6;
    display: flex;
    padding-top: 25vh;
    .scroll-text {
      font-family: $font-header;
      font-size: 2rem;
      text-transform: uppercase;
    }
    .project-intro {
      .heading-3 {
        padding: 5rem 0;
      }
    }
  }
  .project--panel-two {
    grid-column: col-start 2 / full-end;
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: 55rem auto;
    padding-top: 25vh;
    .challenge-head {
      line-height: 1.2;
    }
    .challenges {
      margin-left: -6rem;
      padding: 3rem 0 10rem 0;
      .challenge {
        display: grid;
        grid-template-columns: 5rem auto;
        grid-gap: 2rem;
        &--icon {
          img {
            width: 5rem;
            height: 5rem;
          }
        }
        &--text {
          padding-bottom: 3rem;
          .upper {
            text-transform: uppercase;
            margin-bottom: 0;
          }
        }
      }
    }

    .sticky-video {
      height: 100%;
      video {
        width: unset;
        height: 100%;
      }
    }
  }
  .project--panel-three {
    grid-column: col-start 2 / col-end 11;
    padding-top: 25vh;
    .explainer-title {
      font-weight: 700;
      line-height: 1.2;
      padding-bottom: 5rem;
      span {
        display: block;
        font-size: 3.5rem;
        font-weight: 400;
      }
    }
    .explainer {
      column-count: 2;
      column-gap: 2rem;
      p {
        &:first-of-type {
          font-weight: 400;
        }
      }
    }
  }
  .panel-four-head-image {
    padding-top: 25vh;
    display: grid;
    place-content: center;
  }
  .project--panel-four {
    grid-column: col-start 2 / col-end 11;

    display: grid;
    grid-template-columns: 55rem auto;
    .panel-four--text {
      .how-number {
        padding: 5rem 0 2rem;
        font-family: $font-header;
        font-size: 2.8rem;
        display: block;
      }
    }
    .panel-four-image {
      display: grid;
      place-content: center;
      img {
        width: 100%;
      }
    }
  }
  .project-image {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}

.slidecontainer {
  width: 400%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.firstContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $color-primary;
}

.lastContainer {
  display: flex;
  height: 100vh;
  background: $color-primary;
}

.panel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.5em;
  text-align: center;
  color: white;
  position: relative;
  box-sizing: border-box;
  padding: 10px;
}
.slide-wrapper {
  overflow-x: hidden;
}
